@model DataAccess.Models.Delivery

<body class="light-background">
	<div class="container pb-5">
		<div class="row justify-content-center lower">
			<div class="col-md-6 register-form-bg rounded">
				<form enctype="multipart/form-data">
					<div class="form-group text-center">
						<h2 class="dark-heading b">Информация за доставка</h2>
						<br />
						<div asp-validation-summary="All" class="text-danger"></div>
					</div>
					<div class="form-group">
						<label class="control-label dark-heading">Име на стока</label>
						<input class="form-control dark-heading" asp-for="Item" readonly>
					</div>
					<div class="form-group">
						<label class="control-label dark-heading">Мерна единица</label>
						<input class="form-control dark-heading" asp-for="Unit.Name" readonly>
					</div>
					<div class="form-group">
						<label class="control-label dark-heading">Количество</label>
						<input class="form-control dark-heading" type="number" step="any" asp-for="Quantity" readonly>
					</div>
					<div class="form-group">
						<label class="control-label dark-heading">Единична цена</label>
						<input class="form-control dark-heading" asp-for="PricePer" readonly>
					</div>
					<div class="form-group">
						<label class="control-label dark-heading">Доставчик</label>
						<input class="form-control dark-heading" asp-for="Deliverer.Name" readonly>
					</div>
					<div class="form-group">
						<label class="control-label dark-heading">Дата на доставката</label>
						<input type="date" autocomplete="off" id="begin" class="form-control" placeholder="yyyy-mm-dd" asp-for="Date" readonly/>
					</div>
					<div class="align-items-center">
						<a class="btn btn-info btn-lg" asp-action="Index" asp-controller="Delivery">
							Всички доставки
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

<script>
	let unitCheckBox = document.getElementById('enoughUnits');
	let unitTextBox = document.getElementById('addUnit')

	function moreUnits() {
		if (unitCheckBox.checked) {
			unitCheckBox.checked = false;
			unitTextBox.style.display = "none";
		} else {
			unitCheckBox.checked = true;
			unitTextBox.style.display = "block";
		}
	}

	let delivererCheckBox = document.getElementById('enoughDeliverers');
	let delivererTextBox = document.getElementById('addDeliverer')

	function moreDeliverers() {
		if (delivererCheckBox.checked) {
			delivererCheckBox.checked = false;
			delivererTextBox.style.display = "none";
		} else {
			delivererCheckBox.checked = true;
			delivererTextBox.style.display = "block";
		}
	}

	$(function () {
		$('.dates #begin').datepicker({
			'format': 'yyyy-mm-dd',
			'autoclose': true
		});
	});
</script>