<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>RepoSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/custom-style.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/datapicker/bootstrap-datapicker.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
			<div class="container">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">RepoSystem</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				@if (Logged.IsLogged())
				{
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Потребители</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Delivery" asp-action="Index">Доставки</a>
							</li>
						</ul>
					</div>
					<div class="navbar-collapse collapse d-sm-inline-flex float-right">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<h5 class="nav-link text-dark" style="padding-left: 350px !important; margin-top: 10px;">Здравейте, @Logged.User.Username</h5>
							</li>
						</ul>
					</div>
				}
			</div>
		</nav>
	</header>
	<div>
		@RenderBody()
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - RepoSystem - valeria.stamenova3@gmail.com (GitHub: <a href="https://github.com/valst3">valst3</a>)
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" href="~/lib/datapicker/bootstrap-datapicker.js"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
